beautifulsoup4==4.6.0
bleach==1.5.0
boilerpipe3==1.1
boto==2.48.0
bs4==0.0.1
bz2file==0.98
certifi==2017.11.5
charade==1.0.3
chardet==3.0.4
click==6.7
decorator==4.1.2
enum34==1.1.6
gensim==3.1.0
graphviz==0.8.1
h5py==2.7.1
html5lib==0.9999999
idna==2.6
ipdb==0.10.3
ipython==6.2.1
ipython-genutils==0.2.0
jedi==0.11.0
JPype1-py3==0.5.5.2
jsonschema==2.6.0
jupyter-core==4.4.0
Keras==2.0.9
Markdown==2.6.9
nbformat==4.4.0
nltk==3.2.5
numpy==1.13.3
parso==0.1.0
pexpect==4.3.0
pickleshare==0.7.4
plotly==2.2.3
prompt-toolkit==1.0.15
protobuf==3.4.0
ptyprocess==0.5.2
pydot==1.2.3
Pygments==2.2.0
pyparsing==2.2.0
python-dotenv==0.7.1
pytz==2017.3
PyYAML==3.12
requests==2.18.4
scikit-learn==0.19.1
scipy==1.0.0
simplegeneric==0.8.1
six==1.11.0
sklearn==0.0
smart-open==1.5.3
tensorflow-tensorboard==0.4.0rc2
tensorflow-gpu==1.4.1
tqdm==4.19.4
traitlets==4.3.2
urllib3==1.22
wcwidth==0.1.7
Werkzeug==0.12.2
